.all_Main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
    display: flex;
}

.sidebar-closed{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh;
    box-shadow: rgba(100, 100, 111, 0.53) 0px 7px 29px 0px;
    animation: opensidebar 500ms linear ;

    width: 5vw;
    transition: 2s;
}
.sidebar-opened{
    
    width: 10vw;
}
.sidebar_icon{
    width: 100%;
    background-color: rosybrown;
}
.circle-animation{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(208, 208, 208);
    top: 50%;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-grid{
    margin-left: 5vw;
    width: 95vw;
    min-height: 100vh;
    top: 0;
    display: grid;
    grid-row: auto auto auto auto;
    padding: 30px;


}

@keyframes opensidebar{
    from{
        width: 0vw;
    }
    to{
        width: 5vw;
    }

}