@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.all_Main{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(90deg, #89f7fe 0%, #66a6ff 100%);
}

.sidebar-closed{
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(100, 100, 111, 0.53) 0px 7px 29px 0px;
    animation: opensidebar 500ms linear ;
    width: 5vw;
    transition: 2s;
}
.sidebar-opened{
    
    width: 10vw;
    
}
.sidebar_icon{
    width: 100%;
    padding:1vh;
    border-bottom: 1px solid rgba(82, 82, 82);
    display: flex;
    justify-items: center;
    transition: 200ms; 
    
}
.sidebar_icon:hover{
    background-color: rgba(118, 118, 118, 0.276);
    cursor: pointer;
}
.sidebar_icon_closed{
    transition: 2s; 
    transform:rotateY(720deg);
}
.circle-animation{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px black outset;
    top: 50%;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    margin-left: 5vw;
    width: 95vw;
    min-height: 100vh;
    background-color: rgba(247, 247, 247, 0.653);
    display: grid;
    grid-template-columns:5vw auto 5vw;
}


.content-grid{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto; 
    padding: 2vh;

}
.arrow{
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@keyframes opensidebar{
    from{
        width: 0vw;
    }
    to{
        width: 5vw;
    }

}
.add_post_it{
    position: fixed;
    width: 3vw;
    height: 3vw;
    background: rgb(255, 255, 255);
    border-radius: 100px;
    bottom: 3vh;
    right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(100, 100, 111, 0.53);

}
.add_post_it:hover{
    animation: jump 500ms infinite;
    cursor: pointer;
}

@keyframes jump
{
    0% {bottom:3vh}
    50%{ bottom: 6vh; transform: scale(1.2);}
    100%{bottom: 3vh;}
}
