.post_it_card{
    background-color: rgba(255, 255, 255, 0.5);
    width: 200px;
    height: 200px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transition: 500ms;
}

.post_it_card:hover{
    transform:scale(1.1);
    background-color: white;
}