@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.post_it_card{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    min-height: 20vh;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    transition: 500ms;
    padding:10px;
    background-image: url(../../assets/pexels-elijah-o\'donnell-3473569.jpg);
    background-size: cover;
    color: white;
    margin: 5px;
    position: relative;
}

.post_it_card:hover{
    transform:scale(1.1);
    background-color: white;
}
.post_it_card h1{
    font-size: 2em;
    border: 1px solid rgb(255, 255, 255);
}
.post_it_card p{
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid rgb(255, 255, 255);

}
.add_new_post{
    width: 500px;
    height: 500px;
    background-color: blue;
    display: none;
    grid-template-columns: auto;
    position: fixed;
    transition: 1s;

}
.close{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
   
  }